.container3{
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.sortingBars{
    padding-top: 150px;
}

.bars {
    color: rgb(35, 17, 95);
    width: 20px;
    margin-left: 6px;
    border-radius: 16px;
    display: inline-block;
}
  